@import "components/button.scss";
@import "components/title.scss";
* {
	margin: 0;
	padding: 0;
}

@font-face {
	src: url("../fonts/Segoe\ UI.ttf");
	font-family: "segoe-ui-regular";
}
@font-face {
	src: url("../fonts/seguisb.ttf");
	font-family: "segoe-ui-semibold";
}
body {
	font-family: "segoe-ui-regular";
}
.page {
	display: flex;
	flex-direction: column;
	align-items: center;
	&__wrapper {
		max-width: 100%;
		width: 80%;
		margin: 0 auto;
	}
	&__background {
		background: url("../img/background.png");
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		max-height: 1200px;
		width: 100%;
	}
	&__introduction {
		text-align: center;
		margin-bottom: 70px;
		&-btn {
			margin-right: 74px;
		}
	}
	&__btn {
		&-outer {
			margin-bottom: 52px;
		}
	}
	&__img {
		&-icon {
			flex-wrap: wrap;
			justify-content: space-evenly;
			display: flex;
			margin: 280px 0 180px 0;
		}
	}
	&__icon {
		opacity: 0.2;
		&--active {
			opacity: unset;
		}
	}
	&__describtion {
		align-items: baseline;
		background-color: white;
		border-radius: 5px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		margin: 130px 30px;
		text-align: justify;
		padding: 45px;
		&:hover {
			box-shadow: 0 0 15px grey;
		}
		&-title {
			font-size: 30px;
			margin-bottom: 30px;
			font-family: "segoe-ui-semibold";
		}
		&-text {
			color: #7e92ac;
		}
		&-icon {
			height: 73px;
			margin-bottom: 30px;
			width: 70px;
		}
		&--responsive {
			align-items: baseline;
			background-color: white;
			border-radius: 5px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin: 110px 50px;
			text-align: justify;
			padding: 45px 45px;
			&:hover {
				box-shadow: 0 0 15px grey;
			}
		}
		&--hide {
			display: none;
		}
	}
	&__banner {
		background-image: url("../img/ready-started.png");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		&-content {
			padding: 170px 0 170px;
			text-align: center;
		}
		&-reverse {
			background-image: url("../img/ready-started2.png");
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			text-align: center;
		}
	}
	&__switch {
		display: flex;
		justify-content: center;
		padding-bottom: 40px;
	}
	&__dot {
		background-color: #6736f9;
		border-radius: 30px;
		height: 16px;
		opacity: 0.5;
		width: 16px;
		&--active {
			opacity: 1;
		}
		&:not(:last-child) {
			margin-right: 15px;
		}
	}
	&__offer {
		background-image: url("../img/offer.png");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		padding: 120px 0 120px 0;
	}
	&__questions {
		background-color: #e8f1fd;
		padding: 120px 0 120px 0;
	}
	&__form-paragraph {
		margin-bottom: 70px;
	}
	&__form {
		text-align: center;
  		padding: 120px 0 120px 0;
	}
	.form {
		&__group {
			&-input {
				background-color: #fcfdff;
				border: 1px solid #c3cce8;
				border-radius: 5px;
				margin-bottom: 30px;
				padding: 24px 384px 24px 38px;
				&--active {
					height: 200px;
  					padding: 24px 405px 24px 38px;
				}
			}
		}
	}
	.responsive {
		display: none;
	}
	.header {
		margin: 44px 0 130px 0;
	}
	.logo {
		display: flex;
		&__link {
			margin-right: 18px;
		}
	}
	.menu {
		display: flex;
 		align-items: center;
		&__list {
			display: flex;
			margin-right: 20px;
			flex-wrap: wrap;
		}
		&__item {
			align-items: center;
			display: flex;
			&:not(:last-child) {
				margin-right: 18px;
			}
		}
		&__link {
			color: white;
			display: block;
			font-size: 20px;
			padding-bottom: 10px;
			position: relative;
			text-decoration: none;
			&:before {
				background-color: rgb(252, 232, 58);
				bottom: -10px;
				content: "";
				display: block;
				height: 2px;
				margin: 0 auto;
				position: absolute;
				transition: width 0.3s ease;
				width: 0;
			}
			&--active {
				&:before {
					width: 100%;
				}
			}
			&:hover:before {
				width: 100%;
			}
		}
		&__bar {
			&--responsive {
				display: none;
			}
		}
	}
	.nav {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.introduction {
		&__image {
			width: 90%;
		}
		&__pc {
			width: 80%;
		}
	}
	.about {
		&-section {
			background-color: #fbfcfe;
			padding-top: 110px;
			text-align: center;
		}
		&-outer {
			display: flex;
			justify-content: space-between;
		}
	}
	.commercial {
		&-screen {
			border-radius: 5px;
			box-shadow: 4px 4px 30px grey;
			height: 500px;
			padding: 70px;
			width: 50%;
		}
		&-content {
			display: flex;
			padding: 130px 0px 130px 0px;
		}
		&-outer {
			align-items: baseline;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 70px;
			width: 50%;
		}
		&-subtitle {
			color: #7e92ac;
			font-size: 20px;
			margin-bottom: 30px;
			text-align: justify;
		}
	}
	.task {
		display: flex;
		padding: 150px 0 150px 0;
		&__screen {
			border-radius: 5px;
			box-shadow: 4px 4px 30px grey;
			height: 500px;
			padding: 70px;
			width: 50%;
		}
		&__inner {
			align-items: baseline;
			display: flex;
			flex-direction: column;
			padding: 20px;
			width: 50%;
		}
		&__item {
			margin-bottom: 30px;
			display: flex;
			align-items: center;
		}
		&__icon {
			height: 60px;
			padding-right: 10px;
		}
		&__text {
			font-size: 16px;
  			color: #7e92ac;
		}
		&-content {
			display: flex;
			padding: 130px 0px 130px 0px;
		}
		&-outer {
			align-items: baseline;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 70px;
			width: 50%;
		}
		&-subtitle {
			color: #7e92ac;
			font-size: 20px;
			margin-bottom: 30px;
			text-align: justify;
		}
	}
	.questions {
		&__subtitle {
			font-size: 16px;
  			color: #7e92ac;
		}
		&__section {
			display: flex;
		}
		&__item {
			display: flex;
			padding: 50px;
			text-align: justify;
		}
		&__img {
			height: 70px;
			width: 73px;
		}
	}
	.testimonial {
		background-color: #fbfcfe;
		padding: 120px 0 120px 0;
		&-subtitle {
			font-size: 30px;
		}
		&-outer {
			display: flex;
			margin-bottom: 80px;
		}
		&-section {
			border-radius: 5px;
			background-color: white;
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;
			padding: 45px 45px;
			margin: 45px 50px;
		}
		&-icon {
			position: relative;
			margin-top: -83px;
		}
		&-subtitle,
		&-profession,
		&-text {
			margin-bottom: 30px;
		}
	}
	.offer {
		display: flex;
		&-paragraph {
			text-align: center;
		}
		&__item {
			align-items: center;
			background-color: white;
			border-radius: 5px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 45px;
			margin: 100px 20px;
			&-title {
				font-size: 30px;
  				margin-bottom: 36px;
			}
			&--active {
				background-color: #6837fa;
				color: white;
			}
		}
		&__price {
			font-size: 84px;
			margin-bottom: 36px;
			&-info {
				font-size: 20px;
				margin-bottom: 36px;
				text-align: center;
			}
		}
		&__text {
			font-size: 20px;
			margin-bottom: 36px;
			text-align: center;
		}
		&__list {
			list-style-type: none;
			margin-bottom: 36px;
      color:#7e92ac;
			&--active {
        list-style-type: none;
        margin-bottom: 36px;
				color: white;
			}
		}
	}
	.item-about {
		&__container {
			margin-bottom: 62px;
			text-align: justify;
		}
		&__title {
			font-size: 30px;
			font-weight: bold;
			margin-bottom: 15px;
		}
	}
	.banner {
		&-reverse {
			&__content {
				padding: 170px 0 170px;
				text-align: center;
			}
		}
	}
  
	.footer {
		width: 100%;
		&__holder {
			display: flex;
			justify-content: space-between;
			padding: 120px 0 90px 0;
		}
		&__holder-items {
			display: flex;
			flex-direction: column;
			width: calc(33.3333% - 30px);
			flex: 25%;
		}
		&__copy {
			background-color: #5b2aee;
		}
		&__copy-title {
			min-width: 150px;
		}
		&__items {
			color: white;
			display: flex;
			font-size: 20px;
			justify-content: space-between;
			padding: 40px 100px;
		}
		&__holder-title {
			font-size: 30px;
			margin-bottom: 30px;
		}
		&__holder-subtitle {
			color: #7e92ac;
			margin-bottom: 30px;
		}
		&__holder-input {
			border: 1px solid #7e92ac;
			border-radius: 5px;
			margin-bottom: 30px;
			padding: 20px 64px 20px 30px;
		}
		&__holder-btn__icon {
			height: 14px;
			margin-left: 14px;
		}
		&__holder-attributes {
			display: flex;
		}
		&__holder__social:not(:last-child) {
			margin-right: 6px;
		}
	}
}
@import "components/media.scss";