.button {
  background-color: #572bd9;
  border-radius: 8px;
  border-style: none;
  color: white;
  cursor: pointer;
  padding: 20px 50px;
  &--yellow {
    background-color: #ffdd33;
  }
}

.footer__holder-btn {
  background-color: #feb301;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: flex;
  margin-bottom: 30px;
  padding: 20px 26px;
}