$desktop: 1440px;
$tablet: 1024px;
$mobile: 425px;
$tablet-max: 768px;
@media screen and (max-width:$desktop ) {
  .footer {
    &__holder-input {  
      padding: 0;
    }
    &__holder-btn {
      padding: 16px 16px;
    }
  }

  .form__group-input--active {
    padding: 24px 405px 24px 38px;
  }
}

@media screen and (max-width: $tablet-max){
  .page__introduction-btn{
    margin:0;
  }
}

@media screen and (max-width: $tablet) {
  .page {

    .logo__icon {
      display: none;
    }
    .responsive {
      display: flex;
      height: 40px;
    }
    .menu{
      &__item {
        display: none;
      }
      &__bar--responsive {
        display: flex;
      }
    }
    .button--responsive {
      display: none;
    }
  
    .page{
      &__img-icon {
        margin-bottom: 30px;
      }
      &__icon{
        margin: 10px;
    }
    }
  
    .about-outer {
      flex-wrap: wrap;
    }
    .commercial-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .task {
      display: flex;
      flex-wrap: wrap-reverse;
      justify-content: center;
    }
    .form__group-input {
      padding: 0;
    }
    .questions__section {
      flex-wrap: wrap;
    }
  
    .offer{
      &__item {
        display: none;
        flex-wrap: wrap;
      }
      &__item--active {
        display: block;
      }
    }
  
    .testimonial-outer {
      flex-wrap: wrap;
    }
  
    .footer {
      &__holder {
        flex-wrap: wrap;
        justify-content: center;
        &-items {
          flex-direction: column;
          flex: 50%;
        }
        &-input {
          padding: 0;
        }
        &-btn {
          padding: 16px 10px;
          font-size: 10px;
        }
        &__social {
          width: 26px;
          height: 26px;
        }
      }
    }
  }
  
  @media screen and (max-width: $mobile) {
    .title,
    .page__banner-title,
    .task__title,
    .footer__holder-title {
      font-size: 26px;
    }
  
    .subtitle,
    .page__banner-subtitle,
    .questions__subtitle,
    .footer__holder-subtitle {
      font-size: 12px;
    }
  
    .button, .button--yellow{
      padding: 14px 24px;
      font-size: 12px;
    }
  
    .page{
      &__icon {
        height: 40px;
        padding: 10px;
      }
      &__img-icon {
        margin-bottom: 30px;
      }
      &__describtion {
        display: none;
        &--responsive {
          display: flex;
        }
        &-icon{
          width: 30px;
          height: 30px;
        }
      }
    }
    .about-section {
      padding-top: 30px;
    }
    .testimonial-section {
      display: none;
      &--responsive {
        display: block;
      }
    }
  
    .questions__section-content--hidden {
      display: none;
    }
    .questions__title {
      font-size: 15px;
    }
  
    .footer{
      &__holder {
        flex-wrap: wrap;
        justify-content: center;
        &-items {
          flex-direction: column;
          flex: 50%;
        }
        &-input {
          padding: 0;
        }
        &-btn {
          padding: 16px 10px;
        }
        &__social {
          width: 26px;
          height: 26px;
        }
      }
      &__copy-lists {
        display: none;
      }
      &__copy-list {
        font-size: 14px;
      }
    }
  }
}