.title {
  color: black;
  font-size: 64px;
  font-family: "segoe-ui-semibold";
  margin-bottom: 20px;
  &--light {
    color: white;
    font-family: "segoe-ui-semibold";
  }
  &--banner {
    margin-bottom: 60px;
  }
  &--testimonial {
    text-align: center;
    margin-bottom: 120px;
  }
  &-outer {
    text-align: center;
  }
}

.subtitle {
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
  &--margin {
    margin-bottom: 46px;
  }
  &--gray {
    color: #7e92ac;
  }
  &--banner {
    margin-bottom: 60px;
  }
  &--dark {
    color: black;
  }
}